* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #73747c;
  font-family: 'Roboto', sans-serif;

  min-height: 100vh;
}

h1 {
  color: cadetblue;
  font-weight: 700;
  font-size: 10rem;
}

h2 {
  padding-top: 5em;

  color: #bbbdc8;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

h3 {
  color: #393a41;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home a {
  text-decoration: none;
  color: #000;
  transition: 200ms;
}

.home a:hover {
  color: #474953;
}
